<section class="earth-frame">
    <section class="earth-center">

            <section class="back-arrow">
                <i class="material-icons">keyboard_arrow_up</i>
                <!-- Show on icount 1 or greater. calls i count decrementer-->
            </section>

            <p>{{ earthObj.children[0].data.author }}</p>

            <section class="next-arrow">
                <i class="material-icons" ng-click="$ctrl.next();">keyboard_arrow_down</i>
                <!--- Hide on icount 25. calls icount incrementer-->
            </section>


            
    </section>

</section>




    